.kon { font-size: 22px;
       display: inline-block;
       margin-right: 30px; }

.kon2 { color: #3D58A6; }       

.kon3 { color: red; }       

.html { display: inline-block;
        vertical-align: middle;
        margin-right: 49px; }

.navi { display: inline-block;
        vertical-align: middle; }

.hed { padding-left: 30px;
       padding-top: 30px;
       margin-bottom: 77px; }  

.banner { width: 1170px;
          /*margin-left: auto;
          margin-right: auto;*/
          margin: 0 auto 117px; }             

.war { font-size: 28px;
       margin-bottom: 40px; }  

.erti { font-size: 26px;
        color: #3D58A6;
        margin-bottom: 12px; } 

.ori { display: inline-block;
       vertical-align: top;
       margin-right: 60px;
       margin-left: 18px;} 

.sami { display: inline-block;
        vertical-align: top;
        width: 355px; 
        font-size: 24px;} 

.div-1 { display: inline-block;
         background-color: #F2F2F2;
         width: 570px;
         height: 225px;
         padding-top: 11px;
         padding-left: 17px;
         padding-right: 15px;
         padding-bottom: 14px; 
         margin-right: 26px;}

.div-2 { display: inline-block;
         background-color: #F2F2F2;
         width: 570px;
         height: 225px;
         padding-top: 11px;
         padding-left: 20px;
         padding-right: 15px;
         padding-bottom: 24px;}              

.erti-1 { font-size: 26px;
          color: #3D58A6;
          margin-bottom: 12px; }

.ori-2 { display: inline-block;
         vertical-align: top;
         margin-right: 60px;
         margin-left: 18px;}

.sami-3 { display: inline-block;
          vertical-align: top;
          width: 355px;
          font-size: 24px; }

.pataradiv {width: 2px;
	    height: 27px;
	    background-color: #363E97;
            display: inline-block;
	    margin-left: 35px;
	    margin-right: 30px; } 

a {text-decoration: none;}


.kubi { width: 57px;
        height: 57px;
        background-color: #3D58A6;
        font-size: 48px;
        color: #ffff;
        /*margin-left: 10px;;*/
        padding-left: 4px;
        padding-top: 4px; }

.maisi { font-size: 26px; 
         margin-top: 8px;
         margin-bottom: 29px;
         color: #3D58A6;}

.pee { font-size: 22px;
       margin-bottom: 17px; }

.fotoo { display: inline-block;
         vertical-align: top; 
         margin-right: 23px;}

.textt { display: inline-block;
         width: 929px;
         vertical-align: top; }   

.tpp { margin-bottom: 20px; }             

.sect { margin-left: 30px; }

.fot { margin-top: 32px; }



.saki { font-size: 20px;
        color: #3D58A6;
        margin-bottom: 6px; }

.spani { color: #808080;
         font-size: 16px; }

.petre { font-size: 16px;
         color: black; } 

.lili { margin-bottom: 6px; }     

.diva1 { display: inline-block;
         vertical-align: top; }

.diva2 { display: inline-block;
         vertical-align: top;
         margin-left: 54px; }              


.hed2 { padding-left: 30px;
       padding-top: 30px;
       margin-bottom: 27px; }

.seccc { background-color: #E6E6E6;
         padding-top: 50px;
         padding-bottom: 50px;} 

.dididivi { width: 1179px;
            margin-left: auto;
            margin-right: auto; }